<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">

	<h2 class="title"><a href="#">Military Donation</a></h2>
	<p class="mytext">This Christmas holiday we want to make a donation to our military. We appreciate all that that they have done for our country, this Christmas we want to give back by donating 100% of the profits made from our tee-shirt sales.</p>
	<br>
	<hr>
	<h2 class="title"><a href="http://teespring.com/">TeeSpring</a></h2>
	<p class="mytext">Our tee-shirt's will me</p>
	<br>
	<hr>
	<center><h2 class="teamtitle">The Team</h2></center>
	
<!-- Meet the team -->

<center>

	
	<ul class="list-inlinec">
		<li>
          <%= link_to image_tag("garrett.png", alt: "Garrett"), 'http://www.linkedin.com/pub/garrett-cura/40/674/526' %>
          <h2 class="title">Garrett</h2>
          <p class="mytext">Hi! I'm Garrett...</p>
		</li>
		
		
		<li>
          <%= link_to image_tag("austin.jpg", alt: "Austin")%>
          <h2 class="title">Austin</h2>
          <p class="mytext">Hi! I'm Austin...</p>
		</li>
		
	</ul>
	
</center>		  
        
      
</div>